body{
    background-color: rgb(44, 6, 80);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: white;
    text-align: center;
    
}
input{
    border-radius: 4px;
    padding: 10px;

}
button{
    background-color: rgb(37, 31, 31);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 4px;


}